<p class="browserupgrade">
    Unfortunately my portfolio is not compatible with Internet Explorer 8 and lower due to its limitations.<br/>
    Please consider updating to a modern browser to enjoy features of all modern websites.<br/>
    More information is available on <a href="http://browsehappy.com/">Browse Happy.com</a>
    or download the newest version of <a href="http://windows.microsoft.com/nl-nl/internet-explorer/download-ie">Internet
    Explorer.</a>
</p>