<div class="container" ng-controller="TabController as tab">
    <div class="row no-top-margin ng-cloak" ng-cloak>
        <div ng-repeat="box in tab.tabs">
            <a href ng-click="tab.setSelected(box)">
                <div class="col-md-3 col-sm-6 col-xs-12 box"
                     ng-class="{'box-active' : tab.isSelected(box),
                     'box-small' : !tab.isSelected(0)}">
                    {{box.name}}
                </div>
            </a>
        </div>
    </div>
    <div class="container container-loading" ng-hide="loaded"
         ng-include="'templates/spinner.html'"></div>
</div>