<div id="container-cv" class="col-xs-10 col-xs-offset-1 box-content">

    <div class="row">
        <div class="col-sm-6">
            <h1>Personal Information</h1>

            <div class="table-responsive">

                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>First name</td>
                        <td>{{cvCtrl.cv.firstName}}</td>
                    </tr>
                    <tr>
                        <td>Last name</td>
                        <td>{{cvCtrl.cv.lastName}}</td>
                    </tr>
                    <tr>
                        <td>Date of birth</td>
                        <td>{{cvCtrl.cv.dateOfBirth | date: 'longDate'}}</td>
                    </tr>
                    <tr>
                        <td>Place of birth</td>
                        <td>{{cvCtrl.cv.placeOfBirth}}</td>
                    </tr>
                    <tr>
                        <td>Nationality</td>
                        <td>{{cvCtrl.cv.nationality}}</td>
                    </tr>
                    <tr>
                        <td>Email address</td>
                        <td>
                            <span class="reverse">
                                {{cvCtrl.cv.emailAddress.obscured}}
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>Skype ID</td>
                        <td>
                            <a ng-href="{{cvCtrl.cv.skypeId.uri}}"
                               target="_blank">
                                {{cvCtrl.cv.skypeId.id}}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>GitHub profile</td>
                        <td>
                            <a ng-href="{{cvCtrl.cv.gitHubProfile.uri}}"
                               target="_blank">
                                {{cvCtrl.cv.gitHubProfile.id}}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Bitbucket profile</td>
                        <td>
                            <a ng-href="{{cvCtrl.cv.bitbucketProfile.uri}}"
                               target="_blank">
                                {{cvCtrl.cv.bitbucketProfile.id}}
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-4 col-lg-push-2">
            <img ng-src="{{cvCtrl.portrait.url}}"
                 alt="{{cvCtrl.portrait.alt}}"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <h1>Summary</h1>
            <article ng-bind-html="summaryHtml">
            </article>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <h1>Education</h1>

            <div class="table-responsive">
                <table class='table'>
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="school in cvCtrl.schools.array">
                        <td>{{school.dateStart | dateResponsive}} - {{school.dateEnd | dateResponsive}}</td>
                        <td>
                            {{school.study}}, {{school.school}}
                            <small style="color: #c0c0c0;"
                                   ng-if="school.addition">({{school.addition}})
                            </small>
                        </td>
                        <td>{{school.place}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <!-- end education row -->
    </div>
    <div class="row">
        <div class="col-sm-10">
            <h1>{{cvCtrl.work.title}}</h1>

            <div class="table-responsive">
                <table class='table'>
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="work in cvCtrl.work.array">
                        <td>{{work.dateStart | dateResponsive}} - {{work.dateEnd | dateResponsive}}</td>
                        <td>
                            {{work.jobPosition}}<span ng-if="work.company.length > 0">,</span> {{work.company}}
                        </td>
                        <td>{{work.place}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <!-- end work row -->
    <div class="row">
        <div class="col-sm-10">
            <h1>{{cvCtrl.courses.title}}</h1>

            <div class="table-responsive">
                <table class='table'>
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="course in cvCtrl.courses.array">
                        <td>{{course.date | dateResponsive}}</td>
                        <td>
                            {{course.title}}
                        </td>
                        <td>{{course.institution}}</td>
                        <td ng-show="course.url">
                            <a ng-href="{{course.url}}" target="_blank">View Certificate</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <!-- end courses row -->
    <div class="row">
        <div class="col-sm-10">
            <h1>{{cvCtrl.languages.title}}</h1>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="language in cvCtrl.languages.array">
                        <td>{{language.language}}</td>
                        <td>{{language.level}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- end languages row -->
    <div class="row">
        <div class="col-xs-12">
            <h1>IT Skills</h1>
            <p>Stars are assigned relatively to my overall experience, with a minimum of 1 star to a maximum of 5 stars.</p>
            <div class="row"
                ng-repeat="(key, skills) in cvCtrl.itSkills">
                <h2 class="text-capitalize">{{key}}</h2>
                <div class="col-sm-3 well skill-box"
                    ng-repeat="skill in skills | orderBy: '-weight'">
                    <span ng-bind="skill.title"></span>
                    <!--<br class="hidden-xs" />-->
                    <div class="rating pull-right-xs">
                        <span ng-repeat-n="skill.stars">&starf;</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
