<!--suppress ALL -->
<div class="ng-cloak jumbotron row" ng-cloak>

    <h1>Portfolio Bas van Marwijk</h1>

    <div class="col-sm-8">
        <p>
            Welcome on my portfolio! This website is currently under construction, but feel free to take a look. For
            my cv you can take a look
            on the <a ng-href="#/cv" class="clickable">about me</a> section.
            Under the <a ng-href="#/projects" class="clickable">projects</a> section I will place
            information about projects
            I have worked on.<br/>
        </p>
    </div>
    <div class="col-sm-4">
        <img src="img/portrait-me-small.png" alt="Picture of me"/>
    </div>

</div>
