<div id="container-projects" class="col-xs-10 col-xs-offset-1 box-content">

    <div class="row container-project" ng-repeat="project in projectCtrl.projects">

        <div class="row">
            <div class="col-xs-6 project-title">
                <h1>{{project.title}}</h1>
            </div>
            <div class="col-xs-6">
                <i style="text-align: right;">Date: {{project.dateStart | date: 'MMMM yyyy'}} &ndash;
                    {{project.dateEnd | date : 'MMMM yyyy'}}</i>
            </div>
        </div>

        <!-- Thumbnail of image -->
        <div class="col-xs-12 col-md-3 col">
            <a ng-href="{{project.mainImage.url}}"
               data-mfp-src="{{project.mainImage.url}}"
               class="thumbnail">
                <img ng-src="{{project.mainImage.thumbnail}}"
                     alt="{{project.mainImage.alt}}"/>
            </a>
        </div>

        <div class="col-xs-12 col-md-9">
            <article ng-bind-html="project.caseDescription"></article>
        </div>

        <span ng-show="project.source.show">
            Source:
            <a ng-href="{{project.source.url}}"
               target="_blank">
                {{project.source.description}}
            </a>
        </span>

    </div>
</div>
