/**
* Found at http://plnkr.co/edit/uW4v9T?p=info
**/

@mixin leave($action, $speed, $inherent, $ease-in) {
  -webkit-transform-origin: 0% 0%;
  -webkit-animation: $action $speed $inherent $ease-in;
  -moz-transform-origin: 0% 0%;
  -moz-animation: $action $speed $inherent $ease-in;
  transform-origin: 0% 0%;
  animation: $action $speed $inherent $ease-in;
}

@mixin transform-origin() {
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}

@mixin animation($action, $speed, $inherent, $ease-in) {
  -webkit-animation: $action $speed $inherent $ease-in;
  -moz-animation: $action $speed $inherent $ease-in;
  animation: $action $speed $inherent $ease-in;
}

.ng-leave {
  @include transform-origin();
  @include animation(slideOutRight, 0.5s, both, ease-in);
}

.ng-enter {
  @include animation(slideInLeft, 0.5s, both, ease-in);
}

/* slide in from the right */
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@-moz-keyframes slideInLeft {
  from {
    -moz-transform: translateX(-100%);
  }
  to {
    -moz-transform: translateX(0);
  }
}

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
  }
}

/* slide in from the bottom */
@keyframes slideOutRight {
  to {
    transform: translateX(100%);
  }
}

@-moz-keyframes slideOutRight {
  to {
    -moz-transform: translateX(100%);
  }
}

@-webkit-keyframes slideOutRight {
  to {
    -webkit-transform: translateX(100%);
  }
}
