//noinspection CssUnknownTarget
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700|Arimo:400,700);

$font-size-h1: 1.2em;
$font-size-h2: 1.1em;

$font-family-sans-serif: 'Arimo', sans-serif;
$font-family-base: $font-family-sans-serif;

$headings-font-family: Roboto, sans-serif;
$headings-font-weight: 500;
$icon-font-path: '../bower_components/bootstrap-sass/assets/fonts/bootstrap/';
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

@import "animations";
@import "spinner";

* {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
  display: none !important;
}

body {
  font-size: 130%;
}

.row {
  margin-top: 1em;
}

@media (max-width: 767px) {
  .table-responsive {
    overflow-x: scroll;
  }

  .table-responsive::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
  }

  .table-responsive::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid #fff;
    background-color: rgba(0, 0, 0, .3);
  }
}

.box {
  vertical-align: middle;

  text-align: center;
  font-size: 2em;

  width: 25% - 2 - 3;
  padding: 3%;
  margin: 2%;

  border: 1px solid #000000;
  border-radius: 20%;

  -moz-transition: border-radius 1s;
  -webkit-transition: border-radius 1s;
  transition: border-radius 1s;
}

@media (max-width: 768px) {
  .row.no-top-margin {
    margin-top: 0;
  }

  .box {
    margin: 0;
    width: 33%;
    font-size: 1.2em;
    padding: 2%;
    border-radius: 0;
  }
}

.box-small {
  padding: 2%;
  border-radius: 0;
}

.box:hover {
  cursor: pointer;
  border-radius: 50%;
}

.box-active {
  border-color: #cc0000;
}

.box-content {
  font-size: 1.2em;
}

.container-project {
  margin-top: 2em;
}

div.project-title > * {
  margin-top: 0;
  font-size: 1.5em;
}

.reverse {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.clickable:hover {
  cursor: pointer;
}

/**
* Borrowed from Boilerplate (https://html5boilerplate.com/):
**/
.browser-upgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@media screen and (max-width: $screen-xs-max) {
  .pull-right-xs {
    float: right !important;
  }
}

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

.skill-box {
  min-height: 10em;
  margin-right: 5%;
}