<p>
    My name is Bas van Marwijk and I am a software developer living in the Netherlands.
    I have most experience with web development, using modern web technologies.
    For front-end web applications I am using HTML5/CSS3, JavaScript and various libraries
    and frameworks depending on the project.
    For back-end development I'm using Java EE, .NET or PHP5 depending on the project.
    Also I have experience with various database systems like SQL Server, MySQL and PostgreSQL.
</p>
<p>
    In addition I like to develop mobile application for Android handheld devices,
    and I the future I would like to expand
    this knowledge to other platforms like iOS and Windows Phone
</p>
<p>
    For obtaining my development skills I am studying
    <span title="Dutch major similar to Computer Science">&lsquo;Informatica&rsquo;</span> (Computer Science)
    at The Hague University Of Applied Sciences in the Netherlands.
    For my study I do not just learn about programming but also about obtaining requirements,
    designing OOP systems and testing applications.
    I believe that these skills are necessary for a true developer in our everyday business.
</p>
